<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32010" type="text" id="service_name" default="openvpn.service" />
        <setting label="32011" type="bool" id="use_sudo" default="false" />
        <setting label="32012" type="number" id="notification_time" default="5" />
    </category>
</settings>
